
.header{
    display: flex;
    justify-content:space-between;
    align-items: center; 
    background-color: #d7e4ff;
    padding: 10px 150px;
    height: 75px;
    max-width: 100vw;
    margin-bottom: 60px;
    border-bottom: 1px solid lightgray;
}

.logo{
    font-size: 2.3rem;
    color: #1a3250; 
    font-family: 'Dancing script', cursive;
    font-weight: bolder;
    text-decoration: none;
}

.search-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.search-bar{
    width: 75%;
    background: none;
    color: #1a3250;
    padding: 6px 20px;
    margin-right: 5px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}

.header-buttons{
    display: flex;
}

.header-btn{
    background-color: #32609a;
    color: #fff;
    margin: 0px 4px;
    padding: 9px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color .5s;
}

.header-btn:hover{
    background-color:#5387c7;
}

@media (min-width: 1800px){
    .search-form{
        width: 600px;
    }
}

@media (max-width: 1150px){
    .header{
        padding: 10px 60px;
    }
}

@media (max-width: 950px){
    .header{
        padding: 10px 30px;
    }
    .search-form{
        width: 300px;
    }
    #logo{
        font-size: 24px;
    }
}

@media (max-width: 750px){
    .search-form{
        display: none;
    }
    .btn-desktop{
        display: none;
    }
    .header{
        justify-content: center;
    }
}

@media (max-width: 450px){
    #logo{
        font-size: 20px;
    }
}