/* #main{
    display: grid;
    padding: 0px 150px;
    width: 100vw;
    gap: 25px;
    grid-template-columns: auto 25%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'recent-posts category'
                         'recent-posts top-users';
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
    gap: 30px;
}



/*Top users */
.text-topuser{
    color:#1a3250;
    text-align: center;
    margin: auto 0;
    font-size: 28px;
}
.container-topuser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    gap: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    position: relative;
}

.section-title{
    position: absolute;
    top: -25px;
    left: 0;
    color: #555;
}

.container-topuser > .img{
    width: 20px;
    height: 20px;
}

.top-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #d7e4ff;
    border-radius: 15px;
}
.top-user h1{
    font-size: 20px;
    font-weight: normal;
}


.search-category{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.search-nav{
    background-color: #d7e4ff; 
    color: #1a3250;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 96px;
    gap: 15px;
    border-top: 2px solid rgba(0, 0, 0, 0.575) ;
    transition: all .3s;
    cursor: pointer;
}

.search-nav:hover i{
    transform: scale(1.2);

}

.search-nav p{
    transition: all .3s;
}

.green-bg{
    transition: all .3s;
}

.green-bg:hover{
    background-color: #80d4027a;
}

.orange-bg{
    transition: all .3s;
}

.orange-bg:hover{
    background-color: #f359007a;
}

.red-bg{
    transition: all .3s;
}

.red-bg:hover{
    background-color: #ff00007a;
}

.grey-bg{
    transition: all .3s;
}

.grey-bg:hover{
    background-color: #3e3f3d7a;
}

.blue-bg{
    transition: all .3s;
}

.blue-bg:hover{
    background-color: #0502d47a;
}

i{
    color: #1a3250;
    font-size: 23px;
    transition: all .3s;
}


#recent-posts{
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}


.post{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 150px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #f8f9fa;
    border: 1px solid lightgray;
}

.post h1{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.description-div{
    padding: 0 30px;
    color: #555;
}

.sub-div p{
    font-size: 14px;
}

.sub-div-comments{
    margin-left: auto;
}

.sub-div-comments p{
    font-size: 14px;
}

.img{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background-color: #555;
}

.category-form{
    display: flex;
    flex-direction: column;
    padding: 20px;    
    word-break: break-all;
}

.category-form input{
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    border: 1px solid grey;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.category-form input:checked {
    background-color: #fff;
    border: .5em solid #1a3250;
}

.background-title{
    background-color: #1a3250;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 1px;
}
.background-title > h3{
    margin: 0;
}

.btn-div{
    width: 80%;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    justify-content: flex-end
}
s
.filter{
    margin-top: 25px;
}

@media(max-width: 750px){
    .sidebar{
        display: none;
    }
}

@media(max-width: 750px){
    .img{
        display: none;
    }
    .post{
        flex-direction: column;
        align-items: flex-start;
    }
    #recent-posts{
        width: 90%;
    }
}

@media(max-width: 500px){
    #recent-posts{
        width: 100%;
    }
    .description-div{
        display: none;
    }
}